*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f3f3f3;
}

.container{
width:350px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px gray;
display:flex;
flex-direction:column;
gap:15px;
}

input{
padding:12px;
font-size:17px;
}

button{
padding:12px;
background:royalblue;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:blue;
}

.cards{
display:grid;
grid-template-columns:repeat(2,150px);
gap:20px;
}

.card{
height:120px;
background:orange;
display:flex;
justify-content:center;
align-items:center;
font-size:20px;
color:white;
border-radius:10px;
}